body {
  text-align: center;
  background-color: #00b4d8;
  font-family: "Bubblegum Sans", cursive;
  margin:0;
}

h1 {
  font-size: 10rem;
  color: #03045e;
  font-family: "Bubblegum Sans", cursive;
  text-shadow: 10px 0 #caf0f8;
}

.w {
background-image: url("./images/crash.png");
}

.a {
  background-image: url("./images/kick.png");
}

.s {
  background-image: url("./images/snare.png");
}

.d {
  background-image: url("./images/tom1.png");
}

.j {
  background-image: url("./images/tom2.png");
}

.k {
  background-image: url("./images/tom3.png");
}

.l {
  background-image: url("./images/tom4.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
  font-family: "Bubblegum Sans", cursive;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid #0077b6;
  font-size: 5rem;
  font-family: "Bubblegum Sans", cursive;
  line-height: 2;
  color: #03045e;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

/* Footer */
.footer {
  display: flex;
  width: 100%;
  color: #DBEDF3 !important;
  background-color: #0077b6;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Bubblegum Sans", cursive;
  font-size: 1rem !important;
  padding: 10px;
  position: fixed;
   bottom: 0;
 width: 100%;

}